@charset "UTF-8";

body {
    background-color: black;
    overflow: hidden;
}

/* Pseudo-elemento que adiciona um conteúdo para o elemento after, cria o conteúdo depois da tag <main>, como se estivesse colocado um elemento extra no HTML através do CSS */
/* z-index no .conteudo deixa o degradê atrás do conteúdo */
main::after {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    min-height: 100vh;
    width: 80vw;
    background: linear-gradient(-233deg, #000 40%, rgba(0, 0, 0, 0) 65%) no-repeat;
}

/* Esconder a imagem dos personagens para apresentar apenas a do Luffy, que é o principal que aparece ao abrir a página */
/* Imagem preencher toda a altura que tem disponível na tela */
main .personagem {
    display: none;
    height: 100vh;
}

/* Mostrar a imagem do luffy */
main .personagem.selecionado {
    display: block;
}

/* Definir dimensões das imagens dos personagens */
main .personagem .imagem {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.conteudo {
    position: absolute;
    top: 0;
    left: 120px;
    text-align: justify;

    /* Aplicar caracteristicas do "flex" */
    display: flex;
    /* Linhas ficam em colunas, uma abaixo da outra */
    flex-direction: column;
    justify-content: center;
    /* Para centralizar o conteúdo, é necessário que ele tenha espaço interno para ser personalizado */
    min-height: 100vh;
    max-width: 380px;
    /* Eixo de profundidade, faz com que o conteúdo fique acima do degradê */
    z-index: 1;
}

/* Personalizando fonte do nome do personagem */
.conteudo .nome-personagem {
    color: #ffffff;
    font-size: 48px;
    font-family: "Secular One";
    font-weight: 400;
    margin-bottom: 20px;
}

/* Descrição do personagem */
.conteudo .descricao {
    color: #ffffff;
    font-size: 16px;
    font-family: "Rubik";
    line-height: 24px;
}

/* Inserindo a logo */
.conteudo .logo {
    background-image: url("../imagens/one-piece-logo.png");
    background-size: cover;
    margin-bottom: 35px;
    height: 100px;
    width: 230px;
}

.botoes {
    position: fixed;
    top: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    width: 180px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    background-color: rgba(0, 0, 0, 0.3);
}

.botoes .botao {
    border: none;
    background: #000000;
    cursor: pointer;
    border-radius: 50%;
}

.botoes .botao img {
    border-radius: 50%;
}

.botoes .botao.selecionado {
    transform: scale(1.2);
    box-shadow: 0 0 10px #d9d9d9;
}
